<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
  <appSettings>
    <add key="ClusterConnection1" value="bobjaciconics.eastus.cloudapp.azure.com:19000"/>
    <add key="ClusterConnection2" value="bobjaciconics.eastus.cloudapp.azure.com:1025"/>
  </appSettings>
</configuration>
